<!DOCTYPE html>
<html>

<head>
    <title>Đăng ký</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/statics/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="col-12 text-center pb-5 pt-3">Đăng ký</h1>
        </div>
        <form id="signupForm" class="container" method="POST" action="/api/auth/signup">
            <input id="usr" name="username" placeholder="Tài khoản" class="row col-7 m-3 mx-auto" />
            <input id="eml" name="email" placeholder="Email" class="row col-7 m-3 mx-auto" />
            <input id="pwd" name="password" placeholder="Mật khẩu" class="row col-7 m-3 mx-auto" />
            <div class="row">
                <input id="btnRegister" type="submit" value="Đăng ký" class="col-3 m-3 mx-auto text-center" />
            </div>
        </form>
    </div>
    <script src="statics/auth.js"></script>
    <script>
        signupHandle();
    </script>
</body>

</html>